:root {
    --white: #FFF
}

/*  =============================
    HEADER 
    ============================= */
#nav {
    position: sticky;
    top: 0;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    background: linear-gradient(90deg, rgba(203, 85, 228, 1) 0%, rgba(255, 184, 2, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 12px;
    filter: blur(0px);
    z-index: 10;

    transition: transform .3s ease-in-out;
}

#nav.cache {
    transform: translateY(-100%);
}

.links {
    display: flex;
    gap: 1rem;
}

.nav-link {
    color: #000000;
    background-color: var(--white);
    border-radius: 50px;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15); */

    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.nav-account {
    background-color: #FFF;
    border-radius: 50px;
    padding: 0.6rem 0.8rem;
    /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15); */
}



/*  =============================
    FOOTER
    ============================= */
footer {
    width: 100%;
    height: 500px;
    background-color: #F8F4EA;
}

#footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 100%; */
    padding: 3rem 5rem 0rem 5rem;
}

.info-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 2rem;
}

#logo-footer {
    width: 191px;
    height: 157px;
}

#desc-footer {
    font-size: 24px;
}


.info-block a:not(.btn-footer) {
    width: fit-content;
    color: #000;
    font-size: 16px;
}

.info-block h2 {
    font-weight: 600;
    font-size: 24px;
}

.info-block p {
    font-size: 1.25rem;
}

.info-block:nth-child(1) {
    width: 350px;
}

#content-form {
    display: flex;
    border: 5px solid #CB55E4;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.email {
    border: none;
    width: 240px;
    height: 50px;
    padding: 14px 30px;
    outline: none;

}

.email::placeholder {
    font-size: 18px;
    font-weight: 600;
    color: #000;

}

.info-block .submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    /* padding: 0 25px; */
    background: #CB55E4;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}









/* ============================================================
   BOUTON DÉGRADÉ — utilisé sur plusieurs pages
   ============================================================ */
.btn-gradient {
    width: fit-content;
    background: linear-gradient(90deg, #CB55E4, #FFB802);
    padding: 5px;
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
}

.btn-content {
    position: relative;
    display: block;
    width: fit-content;
    display: block;
    background-color: #FFF;
    border-radius: 50px;
    padding: 0.5rem 1.8rem;
    font-weight: 600;
    font-size: 1.25rem;
    color: #000;
    text-transform: uppercase;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    background-clip: padding-box;
    z-index: 1;
}

/* POSITION AWARE BUTTON HOVER - DÉGRADÉ */
/* .btn-gradient {
    width: fit-content;
    background: linear-gradient(90deg, #CB55E4, #FFB802);
    padding: 5px;
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
}


.btn-aware {
    position: relative;
    display: block;
    width: fit-content;
    display: block;
    background-color: #FFF;
    border-radius: 50px;
    padding: 0.5rem 1.8rem;
    font-weight: 600;
    font-size: 1.25rem;
    color: #000;
    text-transform: uppercase;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    background-clip: padding-box;
    z-index: 1;
}

.btn-aware span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: linear-gradient(90deg, #CB55E4, #FFB802);
    -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.btn-aware:hover {
    color: #FFF;
}

.btn-aware:hover span {
    width: 225%;
    height: 562.5px;
}

.btn-aware:active {
    background: linear-gradient(90deg, #CB55E4, #FFB802);
} */

/* POSITION AWARE BUTTON HOVER - FOOTER */
.btn-footer {
    position: relative;
    display: block;
    width: fit-content;
    padding: 0.5em 1.5em;
    font-size: 24px;
    font-weight: 600;
    border: 5px #3D2D00 solid;
    border-radius: 40px;
    color: #3D2D00;
    background: #FFF;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    background-clip: padding-box;
    /* box-shadow: inset 0 0 0 1px #3D2D00; */
    z-index: 1;
}

.btn-footer span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #3D2D00;
    -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.btn-footer:hover {
    color: #FFF;
    /* background-color: #3D2D00;
    transition: background-color 0s; */
}

.btn-footer:hover span {
    width: 225%;
    height: 562.5px;
}

.btn-footer:active {
    background-color: #3D2D00;
}