:root {
    --white: #FFF
}

/*  =============================
    HEADER 
    ============================= */
.nav {
    position: sticky;
    top: 0;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    background: linear-gradient(90deg, rgba(203, 85, 228, 1) 0%, rgba(255, 184, 2, 1) 100%);
    filter: blur(0px);
    z-index: 10;
}

.links {
    display: flex;
    gap: 1rem;
}

.nav-link {
    color: #000000;
    background-color: var(--white);
    border-radius: 50px;
    padding: 0.6rem 2.8rem;
    font-weight: 600;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-account {
    background-color: #FFF;
    border-radius: 50px;
    padding: 0.6rem 0.8rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}



/*  =============================
    FOOTER
    ============================= */
footer {
    width: 100%;
    height: 500px;
    background-color: #F8F4EA;
}

#footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 100%; */
    padding: 3rem 5rem 0rem 5rem;
}

.info-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 2rem;
}

#logo-footer {
    width: 191px;
    height: 157px;
}

#btn {
    color: #3D2D00;
    padding: 0.5em 1.5em;
    border: 5px #3D2D00 solid;
    border-radius: 40px;
    background: #FFF;
    font-size: 24px;
    font-weight: 600;
}

#desc-footer {
    font-size: 24px;
}

.info-block a {
    width: fit-content;
    color: #000;
    font-size: 16px;
}

.info-block h2 {
    font-weight: 600;
    font-size: 24px;
}

.info-block p {
    font-size: 1.25rem;
}

.info-block:nth-child(1) {
    width: 350px;
}

#content-form {
    display: flex;
    border: 5px solid #CB55E4;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.email {
    border: none;
    width: 240px;
    height: 50px;
    padding: 14px 30px;
    outline: none;
    
}

.email::placeholder {
    font-size: 18px;
    font-weight: 600;
    color: #000;

}

.info-block .submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    /* padding: 0 25px; */
    background: #CB55E4;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}