@import url(reset.css);
@import url(global_components.css);

html {
    scroll-behavior: smooth;
}

* {
    text-decoration: none;
}

body {
    font-family: "Belanosima", sans-serif;
    background-color: #f8f4ea;
}

/* --- SECTION INTRO --- */
#section-intro {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
    min-height: 100vh;
    box-sizing: border-box;
    scroll-margin-top: 75px;
}

#intro {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #F8F4EA;
}

#logo {
    width: 45%;
    display: block;
    margin: 0 auto;
    padding-top: 5vh;
}

#perso {
    position: absolute;
    top: 6%;
    right: 25%;

}

#ligne1 {
    position: absolute;
    top: 15%;
    right: 2%;
    width: 8%;
}

#cookies {
    position: absolute;
    top: 41%;
    right: 7%;
    width: 4%;
}


#ligne2 {
    position: absolute;
    top: 50%;
    right: 1%;
    width: 8%;
}

#nuage {
    position: absolute;
    bottom: -.1%;
    left: 0%;
    width: 30%;
    z-index: 2;
}

#ligne3 {
    position: absolute;
    bottom: 0%;
    width: 15%;
    z-index: 1;
}

#croix {
    position: absolute;
    bottom: 20%;
    left: 4%;
    width: 4%;
    z-index: 2;
}

#cookies {
    animation: flotter 2.5s ease-in-out infinite alternate;
}

#croix {
    animation: tourner 4s ease-in-out infinite alternate;
}

@keyframes tourner {
    0% { transform: rotate(-10deg) scale(1); }
    100% { transform: rotate(10deg) scale(1.1); }
}
#ligne4 {
    position: absolute;
    top: 15%;
    left: 0;
    width: 15%;
}

#fourchette {
    position: absolute;
    top: 10%;
    left: 15%;
}

#perso {
    animation: balader 6s ease-in-out infinite alternate;
}

@keyframes balader {
    0% {
        transform: translateY(0) rotate(-3deg);
    }

    50% {
        transform: translateY(-15px) rotate(0deg);
    }

    100% {
        transform: translateY(-5px) rotate(3deg);
    }
}

#fourchette {
    animation: flotter 3s ease-in-out infinite alternate;
}

@keyframes flotter {
    0% {
        transform: translateY(0) rotate(-5deg);
    }

    100% {
        transform: translateY(-12px) rotate(5deg);
    }
}

/* --- SECTION PRESENTATION --- */
#section-presentation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
    /* min-height: 75vh; */
    box-sizing: border-box;
    scroll-margin-top: 75px;
}

#layout-presentation {
    background-image: url("../assets/index/photo.svg");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
}

#info {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: 7vw;
    margin-top: 17vh;
}

/* 82 - 88 */

#meta {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#text-meta {
    font-size: 1rem;
    font-weight: 400;
    color: #FFF;
}

.text-gradient {
    background: linear-gradient(90deg, #CB55E4, #FFB801);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: 600;
    font-size: 2.5rem;
}

.text-info {
    margin-top: 2rem;
    margin-bottom: 7rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
}

#reduc {
    display: flex;
    justify-content: flex-end;
    margin-right: 6rem;
}

#ellipse {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    color: #FFF;
    background-color: #CB55E4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.text-reduc {
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    margin: 0vh 2vw 2vh 2vw;
    text-align: center;
    text-transform: uppercase;
    z-index: 5;
}

#oeuf1 {
    position: absolute;
    bottom: 18%;
    right: 40%;
    width: 3%;
    width: 60px;
}

#oeuf2 {
    position: absolute;
    bottom: 18%;
    right: 35%;
    width: 50px;
}

#oeuf3 {
    position: absolute;
    bottom: 5%;
    left: 35%;
    width: 75px;
}

#img-reduc1 {
    position: absolute;
    bottom: 31%;
    right: 5%;
    z-index: 0;
}

#img-reduc2 {
    position: absolute;
    bottom: 31%;
    right: 7%;
    z-index: 6;
}

/* --- BOUTON DÉGRADÉ --- */
/* DÉGRADÉ */
.btn-gradient {
    width: fit-content;
    background: linear-gradient(90deg, #CB55E4, #FFB802);
    padding: 5px;
    /* épaisseur du contour */
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
    /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15); */
}

/* CONTENUE */
.btn-content {
    display: block;
    background-color: #FFF;
    border-radius: 50px;
    padding: 0.5rem 1.8rem;
    font-family: "Belanosima", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: #000;
    text-transform: uppercase;
}

/* --- SECTION ABOUT --- */
#star {
    display: block;
    margin: 0 auto;
    margin-top: 0;
}

.card {
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, #00ffd0, #0066ff);
    border-radius: 20px;
    transition: transform 0.1s;
    transform-style: preserve-3d;
}


#section-about {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 5vw 8vw;
    scroll-margin-top: 75px;
}

.about-title {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.cards-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.about-card {
    background: #FFF;
    border-radius: 20px;
    padding: 3rem 1.5rem;
    width: 293px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #FF9925;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

/* SECTION CHEMIN */
#section-chemin {
    position: relative;
    background-color: #F8F4EA;
    min-height: 120vh;
    scroll-margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.chemin-img {
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: cover;
}

#panneau {
    position: absolute;
    bottom: 405px;
    left: 95px;
    width: auto;
}

#pas {
    position: absolute;
    bottom: 85px;
    left: 575px;
    width: auto;
}

#echelle {
    position: absolute;
    top: 330px;
    right: 95px;
    width: auto;
}

/* ÉTAPE 1 */
.etape1 {
    position: absolute;
    top: 20%;
    left: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#numero1 { width: 4vw; }
#texte1 { font-size: 0.8vw; color: #333; text-align: center; }
#Vector1 { 
    position: absolute;
    width: 0.5%;
    top: 30%; 
    left: 16%;
    z-index: 5;
}

/* ÉTAPE 2 */
.etape2 {
    position: absolute;
    bottom: 25%;
    left: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#numero2 { width: 4vw; }
#texte2 { font-size: 0.8vw; color: #333; text-align: center; max-width: 8vw; }
#Vector2 {
    position: absolute; /* ← par rapport à #chemin-wrapper */
    width: 3%;
    bottom: 37%;
    left: 28%;
}

/* ÉTAPE 3 */
.etape3 {
    position: absolute;
    top: 20%;
    right: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#numero3 { width: 4vw; }
#texte3 { font-size: 0.8vw; color: #333; text-align: center; max-width: 8vw; }
#Vector3 { 
    position: absolute; /* ← sort du flux flex */
    width: 1.5%;
    top: 32%;    /* ← par rapport à .etape2 */
    right: 32%;  /* ← par rapport à .etape2 */
}

/* ÉTAPE 4 */
.etape4 {
    position: absolute;
    bottom: 30%;
    right: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#numero4 { width: 4vw; }
#texte4 { font-size: 0.8vw; color: #333; text-align: center; }
#Vector4 { position: absolute; /* ← sort du flux flex */
    width: 2%;
    bottom: 40%;    /* ← par rapport à .etape2 */
    right: 17%;  /* ← par rapport à .etape2 */ 
}

/* ANIMATION */
#numero1, #texte1,
#numero2, #texte2,
#numero3, #texte3,
#numero4, #texte4 {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

#numero1, #texte1 { transition-delay: 0s; }
#numero2, #texte2 { transition-delay: 0.4s; }
#numero3, #texte3 { transition-delay: 0.8s; }
#numero4, #texte4 { transition-delay: 1.2s; }

.visible {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/* SECTION INFO */
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    gap: 3rem;
}

.icon-about {
    width: 100px;
    height: 72px;
}

.text-about {
    text-align: center;
    font-size: 1.25rem;
}


/* SLIDER */
.vague {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

.vague1 {
    bottom: 100%;
    margin-bottom: -2px;
}

.vague2 {
    top: 100%;
    margin-top: -2px;
}


.vague-path {
    fill: #6872FF;
    transition: fill 0.5s ease-in-out;
}

.section-slider {
    position: relative;
    background-color: #6872FF;
    height: 100vh;
    scroll-margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
    transition: background-color 0.5s ease-in-out;
}

.slider {
    /* width: 650px; */
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* gap: 3rem; */
    margin: 0 8vw;
    min-height: 100vh;
    position: relative;
    z-index: 5;
}

.slider-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    padding: 1em 1.5em;
    color: #FFF;
    background-color: #3840A9;
    font-family: "Belanosima", sans-serif;
    border-radius: 40px;

    box-shadow: 0px 10px 0px rgba(0, 0, 0, 1);
}

.slider-title h2 {
    font-weight: 100;
}

#slider-navigation {
    /* width: 100%; */
    width: 650px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#navigation-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: #FFF;
}

#slider-navigation #btn {
    color: #FFF;
    padding: 0.5em 1.5em;
    border: 5px #FFF solid;
    border-radius: 40px;
    background: linear-gradient(90deg, rgba(255, 184, 2, 1) 0%, rgba(203, 85, 228, 1) 100%);
    font-size: 24px;
    font-weight: 600;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 100%;
}

.btn img {
    height: 30px;
    width: 30px;
    user-select: none;
}

.btn:hover {
    cursor: pointer;
}

.slider-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: min-content;
}

/* PARALLAX */
.slider-backgrounds {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.bg-item {
    position: absolute !important;
    inset: 0;
    width: 100% !important;
    height: 100% !important;
}

.bg-item img {
    position: absolute;
}


.img-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img-slider img {
    object-fit: contain;
}

/* --- THÈME NUAGE --- */
/* PERROQUET */
.theme-nuage #decor-1 {
    width: 17%;
    left: -2%;
    top: 10%;
}

/* PIECES */
.theme-nuage #decor-2 {
    width: 10%;
    left: 10%;
    bottom: 15%;
}

/* GOUVERNAIL */
.theme-nuage #decor-3 {
    width: 15%;
    right: -1%;
    top: 15%;
}

/* ÉPÉE */
.theme-nuage #decor-4 {
    width: 12%;
    right: 8%;
    bottom: 5%;
}

/* --- THÈME FÉES --- */
/* TRAINÉE D'ÉTOILES */
.theme-fees #decor-1 {
    width: 36%;
    left: -3%;
    top: 5%;
}

/* BAGUETTE */
.theme-fees #decor-2 {
    width: 25%;
    left: 3%;
    bottom: -18%;
}

/* FÉE */
.theme-fees #decor-3 {
    width: 8%;
    right: 20%;
    top: 10%;
}

/* FLEUR */
.theme-fees #decor-4 {
    width: 20%;
    right: 5%;
    bottom: 3%;
}

/* --- THÈME DRAGON --- */
/* FEU */
.theme-dragon #decor-1 {
    width: 20%;
    left: -2%;
    top: 5%;
}

/* OEUF 1 */
.theme-dragon #decor-2 {
    width: 10%;
    left: -3%;
    bottom: 10%;
}

/* DRAGON */
.theme-dragon #decor-3 {
    width: 10%;
    left: 15%;
    bottom: 22%;
}

/* CHATEAU */
.theme-dragon #decor-4 {
    width: 18%;
    right: 0%;
    top: 25%;
}

/* OEUF 2 */
.theme-dragon #decor-5 {
    width: 7%;
    right: 15%;
    bottom: 0%;
}

/* --- THÈME JUNGLE --- */
/* LIANE 1 */
.theme-jungle #decor-1 {
    width: 35%;
    left: 5%;
    top: -10%;
}

/* LIANE 2 */
.theme-jungle #decor-2 {
    width: 30%;
    left: 12%;
    top: -5%;
}

/* PERROQUET */
.theme-jungle #decor-3 {
    width: 14%;
    left: -2%;
    bottom: 20%;
}

/* SINGE */
.theme-jungle #decor-4 {
    width: 10%;
    right: -1%;
    top: 25%;
}

/* FLEUR */
.theme-jungle #decor-5 {
    width: 15%;
    right: 8%;
    bottom: 0%;
}

/* --- THÈME ESPACE --- */
/* ÉTOILE 1 */
.theme-espace #decor-1 {
    width: 4%;
    left: 13%;
    top: 25%;
}

/* PLANÈTE 1 */
.theme-espace #decor-2 {
    width: 11%;
    left: -1%;
    bottom: 43%;
}

/* ÉTOILE FILANTE */
.theme-espace #decor-3 {
    width: 11%;
    left: 12%;
    bottom: 12%;
}

/* PLANÈTE 2 */
.theme-espace #decor-4 {
    width: 15%;
    left: 28%;
    top: 27%;
}

/* FUSÉE */
.theme-espace #decor-5 {
    width: 13%;
    right: 12%;
    top: 25%;
}

/* PLANÈTE 3 */
.theme-espace #decor-6 {
    width: 10%;
    right: -.5%;
    bottom: 25%;
}

/* ÉTOILE 2 */
.theme-espace #decor-7 {
    width: 3%;
    right: 10%;
    bottom: 15%;
}

.bg-item img {
    position: absolute;
}


/* SECTION AVIS */
.section-avis {
    padding: 7rem 2rem;
    overflow: hidden;
}

#avis-header {
    /* min-height: 220px; */
    position: relative;
    margin-bottom: 7.5rem;
    /* padding: 0 200px; */
    text-align: center;
}

/* IMAGES DÉCO */
#avis-deco-cookies {
    position: absolute;
    left: -3.5%;
    top: -25%;
    width: 200px;
    object-fit: contain;
    filter: blur(2px);
}

#avis-deco-creme {
    position: absolute;
    left: 2%;
    top: 90%;
    width: 110px;
    object-fit: contain;
}

#avis-deco-salade {
    position: absolute;
    right: -3.5%;
    top: -25%;
    width: 200px;
    object-fit: contain;
    filter: blur(2px);
}

#avis-deco-ile {
    position: absolute;
    right: 1%;
    top: 60%;
    width: 170px;
    object-fit: contain;
}

#avis-titre-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    /* margin-bottom: 0.8rem; */
}

#avis-titre-wrapper h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 0.8rem;
}

#avis-sub {
    font-size: 1.25rem;
    font-weight: 400;
    color: #000;
    max-width: 800px;
    margin: 0 auto;
}

#avis-orange {
    position: absolute;
    width: 5%;
    top: -20%;
    right: 33%;
    flex-shrink: 0;
}

/* TRACK */
.avis-track-wrapper {
    overflow: hidden;
    width: 100%;
}

.avis-track {
    display: flex;
    gap: 2rem;
    width: max-content;
    padding: 1rem 0.5rem;
    animation: defilement 40s linear infinite;
}

.avis-track:hover {
    animation-play-state: paused;
}

/* CARTES */
.avis-card {
    display: flex;
    flex-direction: column;
    width: calc(33vw - 3rem);
    min-width: 457px;
    min-height: 400px;
    border-radius: 16px;
    padding: 2.5rem 2rem;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
}

.avis-nom {
    font-size: 1.5rem; /* ← plus grand */
    color: #222;
    text-transform: uppercase;
}


.avis-etoiles {
    color: #FFC800;
    font-size: 3rem;
    /* margin-bottom: 0.5rem; */
}


.avis-card hr {
    width: 90%;
    border: none;
    border-top: 2px solid #FFD979;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

.avis-texte {
    font-size: 1.3rem; /* ← plus grand */
    color: #444;
    line-height: 1.7;
    flex: 1;
}

@keyframes defilement {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}