@import url(reset.css);

html {
    scroll-behavior: smooth;
}

* {
    text-decoration: none;
}

body {
    font-family: "Funnel Display", sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */
.nav {
    position: sticky;
    top: 0;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    background: rgba(0, 0, 0);
    backdrop-filter: blur(8px);
    z-index: 10;
}

.links{
    display: flex;
    gap: 3rem;
}

.nav-link{
    color: #FFF;
}
/* -------------- */

.hero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
    min-height: 100vh;
    margin: 0 8vw;
}

.section{
    min-height: 100vh;
    scroll-margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    margin: 0 8vw;
}
.video{
    width: 5000px;
    height: 500px;
    background-color: #D9D9D9;
}

.description{
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 3rem;
}

/* .selector{
    
} */

.box{
    width: 238px;
    height: 650px;
    background-color: #D9D9D9;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    gap: 3rem;
}

.icon-about{
    width: 125px;
}

.text-about{
    text-align: center;
    font-size: 20px;
}

.box-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-decouverte{
    width: 1150px;
    height: 550px;
    background-color: #D9D9D9;
}

footer {
    width: 100%;
    height: 250px;
    background-color: rgba(19, 19, 19);
}