@import url(reset.css);
@import url(global_components.css);

html {
    scroll-behavior: smooth;
}

* {
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Belanosima", sans-serif;
    background-color: #f8f4ea;
}

.section {
    min-height: calc(100vh - 75px);
    margin: 0 8vw 12vw 8vw;
}

#header-catalogue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4rem;
    font-weight: 400;
    color: #3D2D00;
    margin-top: 6vh;
    margin-bottom: 256px;
}

h2 {
    font-size: 1.25rem;
    font-weight: 400;
    /* margin-bottom: 150px; */
    margin-bottom: 7rem;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

#meta{
    font-size: 1.5rem;
    font-weight: 400;
}

.decorations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.decorations img {
    position: absolute;
}

.deco-fourchette {
    top: 30%;
    right: 9.5%;
    width: 3%;
    transform: scaleX(-1);
}

.deco-ligne-gauche {
    top: 30%;
    right: 0%;
    width: 10%;
    transform: scaleX(-1);
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    width: fit-content;
    margin: 56px auto 0 auto;
    border-top: 3px solid #000;
    border-left: 3px solid #000;
}

.box-ile, .box-fee, .box-dragon, .box-jungle, .box-meteorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 400px; */
    min-height: 500px;
    padding: 36px 70px;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
}

.box-ile {
    background-color: #6872FF;

}

.box-fee {
    background-color: #FFD04D;
}

.box-dragon {
    background-color: #A5DB76;
}

.box-jungle {
    background-color: #FF8411;
}

.box-meteorites {
    background-color: #74B5FF;
}

.box-img{
    display: flex;
    width: auto;
    max-width: 100%;
    height: 196px;
    object-fit: contain;
    margin-top: 20px;
}