@import url(reset.css);

html {
    scroll-behavior: smooth;
}

* {
    text-decoration: none;
}

body {
    font-family: "Funnel Display", sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */
.nav {
    position: sticky;
    top: 0;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    background: rgba(0, 0, 0);
    backdrop-filter: blur(8px);
    z-index: 10;
}

.links{
    display: flex;
    gap: 3rem;
}

.nav-link{
    color: #FFF;
}
/* -------------- */

/* FOOTER */
footer {
    width: 100%;
    height: 250px;
    background-color: rgba(19, 19, 19);
}
/* -------------- */

.section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 0 8vw;
}

.preview{
    position: relative;
    width: 500px;
    height: 700px;
    margin-right: 150px;
    background-color: #D9D9D9;
}

.cate{
    margin-bottom: 50px;
}

.title-cate{
    margin-bottom: 15px;
}

.choices{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.choice{
    width: 75px;
    height: 75px;
    background-color: #D9D9D9;
    transition: opacity 0.2s ease;
}

.choice:hover{
    opacity: 60%;
}


.headAvatar {
    position: absolute;
    width: 200px;
    left: 50px;
}
.t-shirt {
    position: absolute;
    width: 200px;
    top: 215px;
    left: 48px;
}
.hat {
    position: absolute;
    width: 230px;
    left: 38px;
    top: -10px;
}

.accessoire {
    position: absolute;
    width: 100px;
}