@import url(reset.css);

html {
    scroll-behavior: smooth;
}

* {
    text-decoration: none;
}

body {
    font-family: "Funnel Display", sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */
.nav {
    position: sticky;
    top: 0;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    background: rgba(0, 0, 0);
    backdrop-filter: blur(8px);
    z-index: 10;
}

.links{
    display: flex;
    gap: 3rem;
}

.nav-link{
    color: #FFF;
}
/* -------------- */

.section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    margin: 0 8vw;
}

footer {
    width: 100%;
    height: 250px;
    background-color: rgba(19, 19, 19);
}

.box1{
    width: 350px;
    height: 650px;
    background-color: #D9D9D9;
}